@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --brandColor: #3366FF;
      --brandBg: #FAFCFD;
      --brandText: #1E1E1E;
      --brandTextDull: #646469;
      --brandInput: #F3F7FE;
      --brandInputStroke: #D4DCF1;
      --brandCard: #fdfeff;
      --brandIcon: #0D2159;
      
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --brandBg: #171717;
      --brandText: #FBFAFC;
      --brandTextDull: #999999;
      --brandInput: #242428;
      --brandInputStroke: #D4DCF1;
      --brandCard: #212122;
      --brandIcon: #BACAF5;


      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    .container {
      @apply relative w-80 min-h-6 border border-gray-400 flex items-center gap-2 p-2 rounded-sm outline-none focus-within:ring-2 focus-within:ring-primary;
    }
    .value {
      @apply flex-grow flex gap-2 flex-wrap;
    }
    .clear-btn {
      @apply bg-transparent text-gray-700 border-none outline-none cursor-pointer p-0 text-lg;
    }
    .caret {
      @apply translate-x-0 translate-y-[25px] border-t-2 border-gray-700;
    }
    .options {
      @apply absolute m-0 p-0 list-none hidden max-h-[15px] overflow-y-auto border border-gray-400 rounded-sm w-full left-0 top-1/4 bg-white z-10;
    }
    .divider {
      @apply bg-gray-700 self-stretch w-[".05em"];
    }
    .option {
      @apply p-[0.25em] p-[0.5em] cursor-pointer;
    }
    .option-badge {
      @apply flex items-center border border-gray-400 rounded-sm p-[0.25em] gap-[0.25em] cursor-pointer bg-transparent outline-none
    }
  }

  